name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
      - run: sudo apt-get update && sudo apt-get install -y libzstd-dev pkg-config
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0

  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.5"
      - run: sudo apt-get update && sudo apt-get install -y libzstd-dev pkg-config
      - run: go test ./...
        env:
          CGO_ENABLED: "1"

  integration-test:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - macos-latest
          - macos-13
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - run: nix develop --command go test -tags integration -v -timeout 30m ./test/integration/
